<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/items.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="chin-bigtitle">
            <img src="/images/title.png" alt="">
        </div>
        <div class="chin-product">
            <div class="chin-search">
                <img src="/feather/search.svg" alt="">
            </div>
            <div>
                <ul class="chin-productoptions">
                    <li>穿戴式裝置</li>
                    <li>耳機/喇叭</li>
                    <li>運動攝影機</li>
                    <li>周邊</li>
                    <li>優惠卷專區</li>
                </ul>
            </div>
            <div class="chin-bag-heart-user">
                <img src="/feather/shopping-bag.svg" alt="">
                <img src="/feather/heart.svg" alt="">
                <img src="/feather/user.svg" alt="">
            </div>
        </div>
    </header>